/* DOCUMENT AND MAIN COMPONENTS */
html{
  height:100%;
}
body{
  color: white;
  font-family: Inter;
  background-color: #120B1E;
  background-image: 
  linear-gradient(220deg, rgba(255, 255, 255, 0.00) 30.34%, rgba(147, 139, 165, 0.60) 54.76%, rgba(103, 93, 129, 0.60) 68.86%, rgba(40, 26, 77, 0.60) 99.13%),
  radial-gradient(464.91% 342.31% at 39.13% 24.61%, rgba(223, 178, 111, 0.00) 12%, #D5AC57 29.72%),
  linear-gradient(220deg, rgba(40, 26, 77, 0.30), rgba(40, 26, 77, 0.30));
}
button{
  color: white;
  /* background-color:#887244; */
  background-color:#1e7394;
  font-family: Inter;
  border-style: none;
  border-radius: 10px;
}

/* NAVBAR AND CONTENTS */
#navBar {
  border-radius: 50px;
  min-height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.00);
  background: rgba(73, 65, 79, 0.60);
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 1%;
  margin-inline: 2%;
  padding-inline: 2%;
  align-items: center;
  display:flex;
}
#navBarLeftAlign{
  flex: 1;
  height: 100%;
}
#navBarRightAlign{
  flex: 1;
  height: 100%;
  text-align: right;
}
.navButton{
  flex:1;
  height: 40px;
  border-radius: 25px;
}
#dashboardLink{
  /* background-color: green; */
}
#threeLines{
  width: 20%;
  height: auto;
  margin-right: 5px;
}
#helpButton{
  width: 40px;
}

/* CALENDAR AND CONTENTS */
#monthNav{
  text-align: center;
}
.monthBox, .yearBox {
  color:white;
  font-family: Inter;
  width: 90px;
  padding: 10px; /* Add padding */
  border: 1px solid #ccc; /* Add border */
  border-radius: 10px;
  border-radius: 5px; /* Add border radius for rounded corners */
  background-color: #f9f9f900; /* Add background color */
  margin: 1px; /* Adjust spacing between elements */
  margin-right: 0%;
  text-align: center;
}
option{
  background-color: #887244;
}
.calendarBox{
  /* max-width: 1213px; */
  margin: 0 auto;
  margin-bottom: 2%;
  margin-inline: 15%;
  padding: 2%;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.00);
  background: rgba(73, 65, 79, 0.60);
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.mouseIn {
  border-style: solid inside;
  border-width: 5px;
  border-radius: 10px;
  background-color: #00000020;
  padding: 8px;
  height: 80px;
  text-align: start;
  vertical-align: top;
}
.mouseOut{
  border: 1px solid #1b1b1b00;
  background-color: #ececec00;
  padding: 8px;
  height: 80px;
  text-align: start;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  width: 100%;
  border-width: 1px;
  border-style: solid inside #dddddd00;
}
th{
  padding: 8px;
  height: 40px;
  width: 14%;
  text-align: center;
}
.standardCell{
  padding: 8px;
  height: 80px;
  text-align: start;
  vertical-align: top;
}
.emptyCell{
  padding: 8px;
  text-align: center;
  vertical-align: top;
}
.entryButton, .extra{
  color: white;
  font-family: Inter;
  min-width: 100%;
  background-color: #887244;
  padding: 2px;  
  border:solid;
  border-width: 2px;
  border-color:rgba(73, 65, 79, 1);
  border-radius: 5px;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
}
.entryButton:hover, .extra:hover{
  background-color: #745e2f;
}
.hovered {
  background-color: #e6e6e6;
}

/* ENTRY MODAL WINDOW */
.topOfModal{
  display: flex;
  gap: 20px;
}
.toggleContent{
  margin-left: 70%;
}
.markdown-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
textarea[id=markdown] {
  /* width: 10%;
  height: 80%;
  align-self: left;
  padding-left: 0; */
  border: 3px solid #ccc;
  border-radius: 5px;
  width: 540px;
  height: 400px;
  /* padding: 12px 20px; */
  /* margin: 8px 0;
  box-sizing: border-box;
  text-wrap: wrap;
  resize: none; */
}
#markdown-container {
  border: 3px solid #ccc;
  border-radius: 5px;
  width: 400px;
  height: 400px;
  padding-left: 24px;
  padding-right: 24px;
  overflow: scroll;

  /* MARKDOWN-CONTAINER: TEXT AND IMAGE ELEMENTS */
  h1,
  h2,
  h3,
  h4 {
    font-weight: 400;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin-bottom: 24px;
    padding: 0;
  }
  h1 {
    font-size: 48px;
    border-bottom: 1px solid #ccc;
  }
  h2 {
    border-bottom: 1px solid #ccc;
    font-size: 36px;
    margin: 24px 0 6px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 21px;
  }
  h5 {
    font-size: 18px;
  }
  a {
    color: #61bfc1;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
  }
  a:hover {
    text-decoration: underline;
  }
  a:visited {
    color: #466b6c;
  }
  ul,
  ol {
    padding: 0;
    margin: 0;
  }
  li {
    line-height: 24px;
  }
  li ul,
  li ul {
    margin-left: 24px;
  }
  p,
  ul,
  ol {
    font-size: 16px;
    line-height: 24px;
    max-width: 540px;
  }
  pre {
    padding: 0px 24px;
    max-width: 800px;
    white-space: pre-wrap;
  }
  code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
  }
  aside {
    display: block;
    float: right;
    width: 390px;
  }
  blockquote {
    border-left: 0.5em solid #eee;
    padding: 0 2em;
    margin-left: 0;
    max-width: 476px;
  }
  blockquote cite {
    font-size: 14px;
    line-height: 20px;
    color: #bfbfbf;
  }
  blockquote cite:before {
    content: "\2014 \00A0";
  }

  blockquote p {
    color: #666;
    max-width: 460px;
  }
  hr {
    width: 540px;
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}







/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent {
  background-color: #887244;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 80%;
  scroll-behavior: none;
  justify-content: center; /* Horizontally center the child elements*/

}

.extraModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.extraModalContent {
  background-color: white;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  height: 60%;
  scroll-behavior: none;
  justify-content: center; /* Horizontally center the child elements */
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-left: 87%;
}
/* The Save .save-markdown button */
.saveButtonBox{
  position: relative;
  margin-left: 65%;
  padding: 0px;
}
.saveMarkdown{
  position: absolute;
  /* //margin-left: 10%; */
  top: 0;
  right:2%;

  /* Optional: Add padding or margin */
  align-self: center; 
  padding: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}