/*
background color
*/
html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    overflow: hidden;
}

body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgba(105, 65, 177, 0.17);
    overflow: hidden;
}
.background-layer1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 26, 77, 0.30);
}
.background-layer2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(464.91% 342.31% at 39.13% 24.61%, rgba(223, 178, 111, 0.00) 12%, #D5AC57 29.72%);
}
.background-layer3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(220deg, rgba(255, 255, 255, 0.00) 30.34%, rgba(147, 139, 165, 0.60) 54.76%, rgba(103, 93, 129, 0.60) 68.86%, rgba(40, 26, 77, 0.60) 99.13%);
}
/*
password container setting
*/
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.password-container{
    width: 340px;
    display: flex;
    justify-content: center;
    height: 480px;
    background: #FFF;
    mix-blend-mode: overlay;
    border: 2px transparent;
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
}
.password-title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
    margin-bottom: 30%;
}
.input{
    display: flex;
    justify-content: center;
}
.input #password{
    border: 2px solid white;
    background-color: rgb(219, 215, 218);
    height: 45px;
    width: 250px;

}
.button{
    margin-top: 30%;
    display: flex;
    justify-content: center;
    height: 45px;
}
.button button{
    width: 100%;
    background-color: silver;
    border: 2px transparent;
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    color: black;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}
#strongPassword{
    color: transparent;
    font-size: 14px;
    padding-left: 4px;
    margin-top: -4px;
}
#hint{
    color: black;
    font-size: 15px;
    padding-left: 4px;
}