/* styles/dashboard-page.css */
html {
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    overflow: hidden;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: rgba(105, 65, 177, 0.17);
}
.containerbig{

    background: #49414F;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
    border-radius: 25px;
    width: 650px;
    height: 250px;
    align-self: center;
    margin-left: 75px;
    justify-content: center;
    padding-bottom: 40px;
}
.containerbig2{

    background: #49414F;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
    border-radius: 25px;
    width: 1350px;
    height: 50px;
    align-self: center;
    margin-left: 40px;
}
.containerbig3{

    background: #49414F;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
    border-radius: 25px;
    width: 95.3%;
    height: 10%;
    align-items: center;
    margin-left: 2%;

}
.containerbig4{

    background: #49414F;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
    border-radius: 25px;
    width: 1275px;
    height: 400px;
    align-self: center;
    margin-left: 75px;
    justify-content: center;
    padding-bottom: 40px;
}
.containerbig5{

    background: #49414F;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
    border-radius: 25px;
    width:200px;
    height: 250px;
    align-self: center;
    margin-left: 50px;
    justify-content: center;
    padding-bottom: 40px;
    flex: 1;
}
.container-wrapper {
    display: flex;
    width: 1350px;
}
.h3 {  
    color: white;
    
  }
.my-heading {
    color: white;
    font-size: large;
    font-weight: 100;
  }
.tab {
    display: inline-block;
    margin-left: 20px;
}
.tabwithsmallline {
    display: inline-block;
    margin-left: 20px; 
    margin-top: 20px;
}
.container {
    display: grid;
    width:130px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 4px;
    padding: 4px;
    margin-left: 5px;
    margin-top: 7px;
    flex:1;
}
.whitecontainer {
    background: #2d2d44;
    background-blend-mode:overlay ;
    width:230px;
    height:170px;
    margin-left:200px;
    margin-top: 10px;
    background-color: #69697c; /* White background for the outer box */
    padding: 5px; /* Padding to create some space inside the white container */
    border-radius: 10px; /* Rounded corners for a smoother look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a 3D effect */
    max-width: 400px; /* Adjust width as needed */
   /* margin: 0 auto; /* Center the container horizontally */
}

.background-layer1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(54, 36, 110, 0.3);
}
.background-layer2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(464.91% 342.31% at 39.13% 24.61%, rgba(205, 164, 102, 0) 12%, #D5AC57 29.72%);
}
.background-layer3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(220deg, rgba(255, 255, 255, 0.00) 30.34%, rgba(164, 147, 202, 0.6) 54.76%, rgba(81, 67, 114, 0.6) 68.86%, rgba(40, 26, 77, 0.60) 99.13%);
}
/*  */
.square {
    width: 25px;
    margin: 1px;
    height: 25px;
    border-radius: 5px;
}
h1, h2 {
    margin: 0 0 20px 0;
    font-weight: normal;
}
h2{
    font-size: small;
}
.inactive {
    background-color: white;
}
.active {
    background-color: #9effb8; /* GitHub's contribution graph green */
}

.more-active {
    background-color: #61bd4f; /* Darker green for more contributions */
}
.most-active {
    background-color: #0a6a34; /* Darker green for more contributions */
}

#bookmarked-notes ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#bookmarked-notes li {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 4px;
}
a {
    display: inline-block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
